{% extends '__base__.html' %}

{% block title %}日志{% endblock %}

{% block content %}

<label>借书证号: </label>
<div id='id-card'>{{card_id}}</div>
<div class="uk-container uk-container-center">
    <form class="uk-form" method="POST" action="find">
        <fieldset data-uk-margin>
            <label class="uk-text-bold">通过书名模糊搜索书籍</label>
            <input type="text" placeholder="">
            <button class="uk-button">search</button>
        </fieldset>
    </form>
</div>


<br>
<br>
<div class="uk-width-medium-4-4">
    <label class="uk-text-bold uk-text-large">搜索结果</label>
    <table id="book-list" class="uk-table uk-table-hover uk-table-striped uk-table-condensed">
        <tr>
            <th>书名</th>
            <th>出版社</th>
            <th>年份</th>
            <th>作者</th>
            <th>价格</th>
            <th>总量</th>
            <th>库存</th>
            <th>借阅</th>
        </tr>
        {% for b in books %}
        <tr>
            <td>{{ b.title }}</td>
            <td>{{ b.press }}</td>
            <td>{{ b.year }}</td>
            <td>{{ b.author }}</td>
            <td>{{ b.price }}</td>
            <td>{{ b.total }}</td>
            <td>{{ b.stock }}</td>
            <td><button class="uk-button-success borrow" name="borrow">借书</button></td>
        </tr>
        {% endfor %}
    </table>
</div>

{% endblock %}

{% block beforebody %}
<script src="../static/js/index.js"></script>
{% endblock %}