<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>

<body>
    <form method="POST" action="find">
        <table>
            <tr>
                <td class="td2" align="left">
                    检索字段
                </td>
                <td class="td2" align="left">
                    键入检索词或词组
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con1">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request1" value="">
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con2">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request2" value="">
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con3">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request3" value="">
                </td>
            </tr>
        </table>
        <button type="submit">search</button>
    </form>
    <p>书名 出版社 年份 作者 价格 总量 库存</p>
    {% for b in books %}
     <p> {{ b.title }} {{b.press}} {{b.year}} {{b.author}}{{b.price}} {{b.total}} {{b.stock}}</p> 
     <button id="borrow">借书</button>
    {% endfor %}
</body>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>