<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>

<body>
    <div id='id-card'>{{ card_id }}</div>
    <form method="POST" action="find">
        <table>
            <tr>
                <td class="td2" align="left">
                    检索字段
                </td>
                <td class="td2" align="left">
                    键入检索词或词组
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con1">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request1" value="">
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con2">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request2" value="">
                </td>
            </tr>
            <tr>
                <td class="td2" id="small">
                    <select name="con3">
                        <option value="title">书名</option>
                        <option value="press">出版社</option>
                        <option value="year">年份</option>
                        <option value="author">作者</option>
                    </select>
                </td>
                <td class="td2" id="small">
                    <input size="25" name="request3" value="">
                </td>
            </tr>
        </table>
        <button type="submit">search</button>
    </form>
    <table id="book-list">
        <tr>
            <th>书名</th>
            <th>出版社</th>
            <th>年份</th>
            <th>作者</th>
            <th>价格</th>
            <th>总量</th>
            <th>库存</th>
        </tr>
    {% for b in books %}
        <tr> 
            <td>{{ b.title }}</td> 
            <td>{{ b.press }}</td>
            <td>{{ b.year }}</td>
            <td>{{ b.author }}</td>
            <td>{{ b.price }}</td>
            <td>{{ b.total }}</td>
            <td>{{ b.stock }}</td>
            <td><button class="borrow">借书</button></td>
        </tr>
    {% endfor %}
    </table>

</body>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
    <script src="{{ url_for('static', filename='js/search.js') }}"></script>
</html>